
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-RMSS {
  background-color: #1DC7E2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar-header{
  color:black;
  padding:10px;
}
.panel-body{
  font: 15px arial, sans-serif;
}
.panel{
font: Arial, Helvetica, sans-serif;
}
.wrapper{
  background-color: #1DC7E2;
}
